<div class="container">
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'auctions'}}All Auctions{{/link-to}}</li>
      <!-- {{#each auctions as |auction|}}
        <li>{{#link-to '{{title}}'}}{{title}}{{/link-to}}</li>
      {{/each}} -->
    </ul>
  </nav>

  {{outlet}}
</div>
